
<div id="mybooklist">

  <p class="mybooklist">나의 대출 현황</p>
  <div id="booktop">
    <p class="order booktop">순번</p>
    <p class="title booktop">책제목</p>
    <p class="author booktop">저자</p>
    <p class="lendDate booktop">대출일</p>
    <p class="dueDate booktop">반납예정일</p>
    <p class="prolong booktop">연장</p>
    <p class="return booktop">반납</p>
  </div>

  <% $i = 1 %>
  <% @checkout_list.each do |l| %>
    <% book = Book.find_by_id(l[0]) %>
    <div class="book">
      <p class="order bookClass"><%= $i %></p>
      <p class="title bookClass"><%= book.title %></p>
      <p class="author bookClass"><%= book.author %></p>
      <p class="lendDate bookClass"><%= l[1].to_date %></p>
      <p class="dueDate bookClass"><%= l[2].to_date %></p>
      <button check-id=<%= l[3] %> class="prolong bookClass">연장</button>
      <button book-id=<%= book.id %> check-id=<%= l[3] %> class="return bookClass">반납</button>
      <% $i = $i+1 %>
    </div>
  <% end %>

</div>

<div id="prevlist">

  <p class="prevlist">이전 대출 내역</p>

  <div id="booktop">
    <p class="order booktop">순번</p>
    <p class="title booktop">책제목</p>
    <p class="author booktop">저자</p>
    <p class="lendDate booktop">대출일</p>
    <p class="returnDate booktop">반납일</p>
  </div>

  <% $i = 1 %>
  <% @checkout_list_returned.each do |l| %>
    <% book = Book.find_by_id(l[0]) %>

    <div class="book">
      <p class="order bookClass"><%= $i %></p>
      <p class="title bookClass"><%= book.title %></p>
      <p class="author bookClass"><%= book.author %></p>
      <p class="lendDate bookClass"><%= l[1].to_date %></p>
      <p class="returnDate bookClass"><%= l[4].to_date %></p>
    </div>
      <% $i = $i+1 %>
    <% end %>
</div>


