<!DOCTYPE html>
<html>
<head>
  <title>Wabook</title>
  <script type="text/javascript" src="/test.js"></script>


  <%= link_to books_path, :class => "logo" do %>
    <img src="assets/wabook.png">
  <% end %>
  <div id="nav">
    <%= link_to "명예의 전당", rank_index_path, :class =>"link" %>
    
    <%= link_to "My Page", books_path, :class =>"link" %>
    <%= link_to "logout", books_path, :class =>"link" %>
    <%#<a class="link" href="/wabook_ranking.html">명예의 전당</a>%>
    <%#<a class="link" href="/wabook_mypage.html">My Page</a>%>

    <%#<a class="link" href="/study.html">logout</a>%>

  </div>

  <div id="c">
  </div>

  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

  <%= yield %>

</body>
</html>
